<div class="attachment-content p2">
  <div class="flex">
    <div class="attachment-info flex flex-auto flex-column pr1">
      <div class="panel-label">Descrizione file</div>
      <textarea name="fileDescr" id="fileDescr" placeholder="descrizione file (opzionale)"></textarea>
      <div class="panel-label">
        Dimensione massima: 10Mb
      </div>
    </div>
    <div class="attachment-picker">
      <div class="preview">
        <i class="vvc-paperclip"></i>
      </div>
      <label for="theFile">scegli file</label>
      <form id="formUploader">
        <input type="file" id="theFile" name="theFile" class="inputfile">
      </form>
    </div>
  </div>
  <div class="submit-area">
    <button type="submit" >invia file</button>
  </div>
</div>