<div class="incoming-msg">

  <div class="open" *ngIf="message.state==='open'">
    <div class="inc-msg-header">
      <div class="inc-type">
        <i *ngIf="message.media === 'VOICE'" class="vvc-phone"></i>
        <i *ngIf="message.media === 'VIDEO'" class="vvc-video"></i>
      </div>
      <div class="inc-header">{{ message.text | translate }}</div>
    </div>
    <div class="inc-msg-content">
      <button class="btn-normal" (click)="rejectOffer.emit()">
        <i class="vvc-close"></i> {{ 'MESSAGES.DECLINE' | translate }}
      </button>
      <button class="btn-primary"
              *ngIf="message.media === 'VIDEO'"
              (click)="acceptOffer.emit('voice-only')">
        <i class="vvc-phone"></i> {{ 'MESSAGES.VOICE_ONLY' | translate }}
      </button>
      <button class="btn-primary" (click)="acceptOffer.emit()">
        <i class="vvc-check"></i> {{ 'MESSAGES.ACCEPT' | translate }}
      </button>
    </div>
  </div>

  <div class="loading" *ngIf="message.state==='loading'">
   <div class="inc-type"><i class="vvc-phone"></i></div>
   <div class="loading-wrapper">
     <div class="loader"></div>
   </div>
  </div>

  <div class="closed rejected1 accepted" *ngIf="message.state==='closed'">
   <div class="inc-msg-header">
     <div class="inc-type">
       <i *ngIf="message.media === 'VOICE'" class="vvc-phone"></i>
       <i *ngIf="message.media === 'VIDEO'" class="vvc-video"></i>
     </div>
     <div class="inc-header">{{ message.text | translate }}</div>
   </div>
  </div>

</div>