
@mixin boxBorder($color){
  border: 1px solid $color;
}
@mixin vvcMultiRadius($topLeft,$topRight,$bottomRight,$bottomLeft){
  border-radius: $topLeft $topRight $bottomRight $bottomLeft;
}


.bgWithLight1{
  @include bgWithLight(darken($primaryColor,5%),52px,$primaryColor);
}
.bgWithLight2{
  @include bgWithLight(darken($primaryColor,5%),30px,$primaryColor);
}
.bgWithLight3{
  @include bgWithLight(darken($primaryColor,5%),50%,$primaryColor);
}
.bgWithLight4{
  @include bgWithLight(lighten($darkColor,50%),50%,lighten($darkColor,45%));
  @include boxBorder(lighten($darkColor,45%))
}
.boxShadow1{
  @include boxShadow(0,0,10px,0.5);
}
.boxShadow2{
  @include boxShadow(0,2px,4px,0.25);
}
.boxShadow3{
  @include boxShadow(2px,0,4px,0.25);
}
.boxShadow4{
  @include boxShadow(0,0,4px,0.25);
}


/** COMPONENTS **/
#vvc-container{
  @include vvcMultiRadius(10px,10px,0,0);
  @include boxShadow(0,0,10px,0.5);
}

/** PROVVISORY **/
@mixin vvcFlex(){
  display: flex;
  flex-direction: column;

}
.flex{
  display: flex;
}
.flex-column{
  flex-direction: column;
}
.flex-auto {
  flex: 1 1 auto;
  min-width: 0; /* 1 */
  min-height: 0; /* 1 */
}
.items-center   { align-items: center }

.flex-none { flex: none }

