/*
Error: Undefined mixin 'bgWithLight'.
        on line 11 of palette_old.scss, in `bgWithLight'
        from line 11 of palette_old.scss

6:   border-radius: $topLeft $topRight $bottomRight $bottomLeft;
7: }
8: 
9: 
10: .bgWithLight1{
11:   @include bgWithLight(darken($primaryColor,5%),52px,$primaryColor);
12: }
13: .bgWithLight2{
14:   @include bgWithLight(darken($primaryColor,5%),30px,$primaryColor);
15: }
16: .bgWithLight3{

Backtrace:
palette_old.scss:11:in `bgWithLight'
palette_old.scss:11
/Users/marchitos/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:351:in `block in visit_mixin'
/Users/marchitos/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.22/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/marchitos/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/Users/marchitos/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.22/lib/sass/stack.rb:98:in `with_mixin'
/Users/marchitos/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:349:in `visit_mixin'
/Users/marchitos/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/marchitos/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/marchitos/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.22/lib/sass/stack.rb:79:in `block in with_base'
/Users/marchitos/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/Users/marchitos/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.22/lib/sass/stack.rb:79:in `with_base'
/Users/marchitos/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/marchitos/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:433:in `block (2 levels) in visit_rule'
/Users/marchitos/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:433:in `map'
/Users/marchitos/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:433:in `block in visit_rule'
/Users/marchitos/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/marchitos/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:431:in `visit_rule'
/Users/marchitos/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/marchitos/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/marchitos/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.22/lib/sass/stack.rb:79:in `block in with_base'
/Users/marchitos/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/Users/marchitos/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.22/lib/sass/stack.rb:79:in `with_base'
/Users/marchitos/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/marchitos/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/marchitos/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/marchitos/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/marchitos/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/Users/marchitos/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/marchitos/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/Users/marchitos/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/marchitos/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/Users/marchitos/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/marchitos/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:159:in `visit'
/Users/marchitos/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/marchitos/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.22/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/marchitos/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.22/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/marchitos/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.22/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/Users/marchitos/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.22/lib/sass/engine.rb:298:in `render_with_sourcemap'
/Users/marchitos/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/marchitos/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/marchitos/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `each'
/Users/marchitos/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/marchitos/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.22/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/marchitos/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
/Users/marchitos/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/marchitos/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.22/lib/sass/exec/base.rb:52:in `parse'
/Users/marchitos/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.22/lib/sass/exec/base.rb:19:in `parse!'
/Users/marchitos/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.22/bin/scss:13:in `<top (required)>'
/Users/marchitos/.rvm/gems/ruby-2.0.0-p247/bin/scss:23:in `load'
/Users/marchitos/.rvm/gems/ruby-2.0.0-p247/bin/scss:23:in `<main>'
/Users/marchitos/.rvm/gems/ruby-2.0.0-p247/bin/ruby_executable_hooks:14:in `eval'
/Users/marchitos/.rvm/gems/ruby-2.0.0-p247/bin/ruby_executable_hooks:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'bgWithLight'.\A         on line 11 of palette_old.scss, in `bgWithLight'\A         from line 11 of palette_old.scss\A \A 6:   border-radius: $topLeft $topRight $bottomRight $bottomLeft;\A 7: }\A 8: \A 9: \A 10: .bgWithLight1{\A 11:   @include bgWithLight(darken($primaryColor,5%),52px,$primaryColor);\A 12: }\A 13: .bgWithLight2{\A 14:   @include bgWithLight(darken($primaryColor,5%),30px,$primaryColor);\A 15: }\A 16: .bgWithLight3{"; }
