#vvc-top-bar{
  @include bgWithLight(darken($primaryColor,5%),30px,$primaryColor);
  height: 80px;
  display: flex;
  flex: none;
  flex-direction: column;

  i{
    cursor: pointer;
    &.disabled{
      cursor: default;
      opacity: 0.7;
    }
  }

  .agent-img{
    @include vvcAccountImg('small', darken($primaryColor, 5%));
  }

  .welcome-msg{
    display: none;
    //@include vvcClearFix();
    .msg-content{
      padding-top: 20px;
      font-size: 1.25rem;
      font-weight: 300;
      width: 100%;
      text-align: center;
      color: $lightColor;

      .msg{ font-style: italic }
      .agent-name{ font-weight: 700 }
    }
  }

  .info-msg{
    font-size: 0.875rem;
    font-weight: 300;
    text-align: center;
    color: $lightColor;
    .msg{ font-style: italic }

  }

  &.expanded{
    @include bgWithLight(darken($primaryColor,5%),52px,$primaryColor);
    height: 208px;

    .agent-img{
      @include vvcAccountImg('big', darken($primaryColor, 5%));
    }

    .welcome-msg{
      display: block;
    }
    .info-msg{
      display:none;
    }
  }

  .top-row{
    @include vvcClearFix();
    width: 100%;

    & > div {
      @include vvcCol(4);

      &.media-tools{
        padding-top: 20px;
        padding-left: 20px;

        i{
          padding-right: 10px;
          font-size: 20px;
          color: $lightColor;
        }
      }

      &.avatar-place{
        padding-top: 10px;
        text-align: center;
      }

      &.secondary-tools{
        text-align: right;
        padding-top: 20px;
        padding-right: 20px;

        i{
          padding-left: 10px;
          font-size: 20px;
          color: $lightColor;
        }
      }
    }

  }
  .welcome-msg{
    @include vvcClearFix();
  }
}