<div id="top-box">
  <div class="top-box-row1">
    <div>&nbsp;</div>
    <div>
      <img class="acct-img" src="../acct-img.png">
    </div>
    <div>
      <i class="vvc-close"></i>
    </div>
  </div>
  <div class="top-box-row2">
    <div>
      Thank you for choosing<br>Vivocha’s customer service
    </div>
  </div>
</div>
<div id="survey-box">
  <div class="card vvc-form">
    <div class="card-inner">
      ready to fill the survey
      <div>
        {{ dataCollection | json }}
      </div>
    </div>
  </div>
</div>
