<div class="top-box">
  <div class="top-box-row1">
    <div>&nbsp;</div>
    <div>
      <img class="acct-img" [src]="variables.companyLogoUrl">
    </div>
    <div (click)="close.emit()">
      <i class="vvc-close"></i>
    </div>
  </div>
  <div class="top-box-row2">
    <div [innerHTML]="'STRINGS.SURVEY.WELCOME' | translate"></div>
  </div>
</div>
<div class="survey-box">
  <div class="card vvc-form">

    <div class="card-inner" *ngIf="!sent">
      <vvc-form [dc]="dataCollection"
                (submit)="datasubmit.emit($event)"></vvc-form>
    </div>

    <div class="card-inner" *ngIf="sent">
      <div class="survey-feedback">
        <i class="vvc-check"></i>
        <div [innerHTML]="'STRINGS.SURVEY.FEEDBACK' | translate"></div>
      </div>
    </div>

  </div>
</div>
