<div class="top-row">
  <div class="media-tools">
    <div *ngIf="!this.state.closed">
      <i class="vvc-phone"
         [ngClass]="{'disabled': this.state.voice || this.state.mediaOffering }"
         *ngIf="canStartMediaRequest('voice')"
         (click)="askForUpgrade('voice')"></i>

      <i class="vvc-video"
         [ngClass]="{'disabled': this.state.video || this.state.mediaOffering }"
         *ngIf="canStartMediaRequest('video')"
         (click)="askForUpgrade('video')"></i>
    </div>
  </div>
  <div class="avatar-place">
    <img class='agent-img' [src]="getAvatar()">
  </div>
  <div class="secondary-tools">
    <i class="vvc-minimize" *ngIf="!this.state.closed" (click)="minimize.emit()"></i>
    <i class="vvc-close" (click)="close.emit(this.state.closed)"></i>
  </div>
</div>

<div class="welcome-msg">
  <div class="msg-content">
    <span class="msg" [innerHTML]="'TOPBAR.WELCOME' | translate">Welcome<br>you are talking with</span><br>
    <span class="agent-name">{{ getAgentName() }}</span>
  </div>
</div>

<div class="info-msg">
  <span class="agent-name" *ngIf="!state.isAgentWriting">{{ getAgentName() }}</span>
  <span class="msg" *ngIf="state.isAgentWriting"><i class="vvc-chat"></i> {{ 'TOPBAR.ISWRITING' | translate:{agent: getAgentName()} }}</span>
</div>
