<div class="left">
  <i class="vvc-smile-o" (click)="selectTool('emoji')"></i>
  <i class="vvc-paperclip" (click)="selectTool('attachment')"></i>
</div>
<div class="right">
  <i class="px1 vvc-phone" (click)="selectTool('voice')"></i>
  <i class="px1 vvc-video-camera" (click)="selectTool('video')"></i>
</div>

<vvc-emoji-panel id="emoji-panel"
                 class="media-panel"
                 (emoji)="emoji.emit($event);selectTool('')"
                 [hidden]="!isPopupVisible('emoji')"></vvc-emoji-panel>

<vvc-attachment-panel
     id="attachment-panel"
     class="media-panel"
     [hidden]="!isPopupVisible('attachment')"></vvc-attachment-panel>

<vvc-voice-panel
    id="voice-panel"
    class="media-panel"
    [hidden]="!isPopupVisible('voice')"></vvc-voice-panel>

<vvc-video-panel
    id="video-panel"
    class="media-panel"
    [hidden]="!isPopupVisible('video')"></vvc-video-panel>