<div class="top-box">
  <div class="top-box-row1">
    <div>&nbsp;</div>
    <div>
      <img class="acct-img" src="assets/static/acct-img.png">
    </div>
    <div (click)="abandon.emit()">
      <i class="vvc-close"></i>
    </div>
  </div>
  <div class="top-box-row2">
    <div [innerHTML]="'STRINGS.INITIAL_DATA.WELCOME' | translate"></div>
  </div>
</div>
<div class="data-box">
  <div class="card vvc-form">
    <div class="card-inner">
      <vvc-form [dc]="dataCollection"
                (submit)="datasubmit.emit($event)"></vvc-form>

      <!--
      <div class="vvc-title">
        Anagrafica Utente
      </div>

      <div class="vvc-input">
        <label>Nome<span class="required"> *</span></label>
        <input type="text" placeholder="il tuo nome">
        <p></p>
      </div>

      <div class="vvc-input">
        <label>Cognome<span class="required"> *</span></label>
        <input type="text" placeholder="il tuo cognome">
        <p></p>
      </div>

      <div class="vvc-input">
        <label>Email</label>
        <input type="email" placeholder="la tua email">
        <p></p>
      </div>

      <button class="btn-primary" (click)="datasubmit.emit()">Invia</button>
      -->
    </div>
  </div>
</div>
