<div class="top-box">
  <div class="top-box-row1">
    <div>&nbsp;</div>
    <div>
      <img class="acct-img" src="assets/acct-img.png">
    </div>
    <div (click)="abandon.emit()">
      <i class="vvc-close"></i>
    </div>
  </div>
  <div class="top-box-row2">
    <div [innerHTML]="'INITIAL_DATA.WELCOME' | translate"></div>
  </div>
</div>
<div class="data-box">
  <div class="card vvc-form">
    <div class="card-inner">
      ready to fill the data collection
      <div>
        {{ dataCollection | json }}
      </div>
      <button class="btn-primary" (click)="datasubmit.emit()">Send Data Collection</button>
    </div>
  </div>
</div>
