<div id="vvc-container">
  <div id="vvc-full-enabled" *ngIf="widgetState?.fullScreen">
    <button (click)="setNormalScreen()">minimize</button>
    <div *ngIf="widgetState?.video_rx">
      <video [src]="trustedSrc(widgetState.video_rx.url)"></video>
    </div>
    <div *ngIf="widgetState?.video_tx">
      <video style="border: 1px solid red" [src]="trustedSrc(widgetState.video_tx.url)"></video>
    </div>
  </div>

  <div id="vvc-widget-wrap">


    <vvc-queue *ngIf="widgetState?.loading" [type]="type"></vvc-queue>

    <div>
      <div id="vvc-top-bar"></div>


      <div id="vvc-video-wrap" *ngIf="widgetState?.fullScreen === false">
        <div *ngIf="widgetState?.video_rx">
          <video style="height: 100px" [src]="trustedSrc(widgetState.video_rx.url)"></video>
        </div>
        <div *ngIf="widgetState?.video_tx">
          <video style="height: 80px; border: 1px solid red" [src]="trustedSrc(widgetState.video_tx.url)"></video>
        </div>
      </div>


      <div id="vvc-media-tools" *ngIf="widgetState?.voice">
        <button (click)="setFullScreen()">maximize</button>
        <button *ngIf="widgetState?.video_tx" (click)="removeLocalVideo()">remove video</button>
        <button *ngIf="!widgetState?.video_tx" (click)="addLocalVideo()">add video</button>
        <button>mute</button>
        <button (click)="hangup()">hangup</button>
      </div>


      <div id="vvc-messages">
        <div *ngFor="let m of messages" [ngSwitch]="m.type">
          <div *ngSwitchCase="'incoming-request'">
            Incoming Request ({{m.media}} - {{m.oPos}} - {{m.state}})
            <p>{{m.text}}</p>
            <p *ngIf="m.state === 'open'">
              <button (click)="acceptIncomingRequest()">Accept</button> - <button (click)="denyIncomingRequest()">Deny</button>
            </p>
          </div>

          <div *ngSwitchCase="'chat'">
            {{m.text}}
            <p *ngIf="m.meta">
              {{m.meta | json}}
              <img *ngIf="m.meta.originalUrl" [src]="m.meta.originalUrl">
            </p>
          </div>
        </div>
      </div>


      <div id="vvc-chat-area">
        <div *ngIf="widgetState?.chat">
          <textarea #chatBox placeholder="type here..."></textarea>
          <button (click)="sendChatMessage(chatBox.value)">send</button>

          <hr>
          upload form
          <div class="uploader" *ngIf="uploadFile">
            <div class="uploadedFile">
              <span class="uploadName">{{uploadFile.name}}</span> <i (click)="removeUpload()" style="position: relative; top: 2px" class="right fa fa-trash-o">remove</i>
            </div>
          </div>
          <form id="formUploader" enctype="multipart/form-data" onsubmit="return false;">
            <textarea #fileBox placeholder="type file description here..."></textarea>
            <input type="file" id="theFile" name="theFile" class="inputfile" (change)="onUploading($event)">
            <button [disabled]="!uploadFile?.name" (click)="sendAttachment(fileBox.value)">send</button>
          </form>
        </div>
      </div>


    </div>
  </div>
</div>