<div id="vvc-box-inner">
  <div class="text-box">
    <input [readonly]="readonly"
           placeholder="Scrivi il tuo messaggio"
           type="text"
           #box
           (keyup.enter)="sendText(box.value);box.value=''">
  </div>
  <div *ngIf="context.showUploadButton"
       class="upload-handler">
    <i class="icon icon-vvc-clip"></i>
  </div>
  <div *ngIf="context.showEmojiButton"
       (click)="toggleEmojiPanel.emit()"
       class="emoji-handler">
    <i class="icon icon-vvc-emoji"></i>
  </div>
  <div *ngIf="context.showSendButton" class="send-button" (click)="sendText(box.value);box.value='';box.focus()">
    <div class="send-icon">
      <i class="icon icon-vvc-send"></i>
    </div>
  </div>
</div>