<div class="incoming-msg">
  <div class="dc">
    <div class="inc-msg-header">
      <div class="inc-type"><i class="vvc-doc"></i></div>
      <div class="inc-header">{{ 'DC.INCOMING_HEAD' | translate }}</div>
    </div>

    <div class="inc-msg-content" *ngIf="dc.mode === 'block'">
      {{ 'DC.ASK_FOR_COMPILE' | translate }}<br>
      <span class="dc-name">{{ dc.dataTitle | translate }}</span>
    </div>

    <div class="inc-msg-content form" *ngIf="dc.mode === 'inline'">
      <vvc-form [dc]="dc"
                [readMode]="message.state === 'closed'"
                (submit)="onInlineSubmit($event)"></vvc-form>
    </div>

    <div class="inc-msg-content" *ngIf="dc.mode === 'block'">
      <button class="btn-primary"
              *ngIf="message.state === 'open'"
              (click)="show.emit(message)">
        <i class="vvc-pencil"></i> {{ 'DC.COMPILE' | translate }}
      </button>

      <button class="btn-primary"
              *ngIf="message.state === 'closed'"
              (click)="show.emit(message)">
              <i class="vvc-check"></i> {{ 'DC.VIEW' | translate }}
      </button>
    </div>

  </div>
</div>