<div class="flex flex-auto">

  <div class="clearfix" style="width:100%">
    <div class="row">
      <div class="col col-4">&nbsp;</div>
      <div class="col col-4 center" style="padding-top: 20px"><img class='acct-img' src="assets/acct-img.png"></div>
      <div class="col col-4 right-align" style="padding-top: 20px; padding-right: 20px"><i style="font-size: 20px; color: white" class="vvc-close"></i></div>
    </div>

    <div class="row">
      <div class="col col-12 center" style="color: white;padding-top: 25px;">
        Welcome<br>to Vivocha’s customer service
      </div>
    </div>
  </div>
</div>
<div class="flex flex-auto">
  <div class="clearfix" style="width: 100%;">
    <div class="media-type" style="margin: 0 auto;border-radius: 50%;width: 80px; height: 80px; color: white;background-color: red; text-align: center; font-size: 35px; background: -webkit-linear-gradient(top, #4990E2,#4990E2 50%, #3383DE 50%, #3383DE);box-shadow: 0 2px 4px rgba(0,0,0,0.25)">
      <i class="vvc-chat" style="position: relative; top: 20px;"></i>
    </div>
  </div>
</div>
<div class="flex flex-auto">Queue Waiting Card</div>
