<video class="big-video"
       *ngIf="state?.video_rx"
       [src]="trustedSrc(state.video_rx.url)"></video>

<video class="small-video"
       muted
       *ngIf="state?.video_tx"
       [src]="trustedSrc(state.video_tx.url)"></video>

<div class="vvc-tools">
  <div class="vvc-tools-wrap">
    <div class="vvc-inner-tools video-tools">
      <button class="first-btn"
              *ngIf="state?.video_tx"
              (click)="remvideo.emit()">
        <i class="vvc-video-off"></i> {{ 'MEDIATOOLS.VIDEO_OFF' | translate }}
      </button>

      <button class="first-btn"
              *ngIf="!state?.video_tx"
              (click)="addvideo.emit()">
        <i class="vvc-video"></i> {{ 'MEDIATOOLS.VIDEO_ON' | translate }}
      </button>

      <button (click)="minimize.emit()">
        <i class="vvc-minimize"></i> {{ 'MEDIATOOLS.MINIMIZE' | translate }}
      </button>

      <button *ngIf="!state.mute"
              [disabled]="state.mute_in_progress"
              (click)="mute.emit(true)">
        <i class="vvc-unmute"></i> {{ 'MEDIATOOLS.MUTE' | translate }}
      </button>

      <button *ngIf="state.mute"
              [disabled]="state.mute_in_progress"
              (click)="mute.emit(false)">
        <i class="vvc-mute"></i> {{ 'MEDIATOOLS.MUTE' | translate }}
      </button>

      <button class="hangup" (click)="hangup.emit()">
        <i class="vvc-hangup"></i> {{ 'MEDIATOOLS.HANGUP' | translate }}</button>
    </div>
  </div>
</div>
<div class="chat-toggle" (click)="chatToggle()">
  <i class="vvc-chat"></i>
  <div class="chat-label" *ngIf="!chatVisible">{{ 'MEDIATOOLS.CHAT_SHOW' | translate }}</div>
  <div class="chat-label" *ngIf="chatVisible">{{ 'MEDIATOOLS.CHAT_HIDE' | translate }}</div>
</div>