
<div class="vvc-form">
  <div class="form-title" *ngIf="dc.labelId">{{ dc.labelId | translate }}</div>
  <!-- div class="form-descr" *ngIf="dc.dataDescr">{{ dc.descId | translate }}</div -->
  <!-- div class="form-required-legend" *ngIf="hasRequired">{{ 'DC.REQUIRED_LEGEND' | translate }}</div -->
  <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
    <div *ngFor="let elem of dc.fields">
      <div class="vvc-input"
           [ngClass]="{'error' : form.get(elem.id).errors && form.get(elem.id).touched}">
        <label>{{ (elem.labelId | translate) || elem.id }}<span *ngIf="elem.required" class="required"> *</span></label>
        <input *ngIf="!readMode && getInputElement(elem) === 'input'"
               [formControlName]="elem.id"
               type="{{ getInputType(elem) }}"
               placeholder="{{ elem.placeholderId | translate }}" />
        <textarea *ngIf="!readMode && getInputElement(elem) === 'textarea'"
                  [formControlName]="elem.id"
                  placeholder="{{ elem.placeholderId | translate }}"></textarea>
        <select *ngIf="!readMode && getInputElement(elem) === 'select'"
                [formControlName]="elem.id"> // value is a string or number
          <option>1</option>
          <!-- option *ngFor="#obj of objArray" [value]="obj.value">{{obj.name}}</option -->
        </select>
        <div *ngIf="!readMode && getInputElement(elem) === 'rating'">
          <div>{{ elem.name | translate }}</div>
          <div class="vvc-bar-rating">
            <input type="radio" id="star5" [formControlName]="elem.id" value="5" /><label for="star5"></label>
            <input type="radio" id="star4" [formControlName]="elem.id" value="4" /><label for="star4"></label>
            <input type="radio" id="star3" [formControlName]="elem.id" value="3" /><label for="star3"></label>
            <input type="radio" id="star2" [formControlName]="elem.id" value="2" /><label for="star2"></label>
            <input type="radio" id="star1" [formControlName]="elem.id" value="1" /><label for="star1"></label>
          </div>
        </div>
        <div *ngIf="readMode">
          {{ dc.dataValue[elem.id] || '-' }}
        </div>
        <p *ngIf="form.get(elem.id).touched && !readMode">
          <span *ngIf="form.get(elem.id).hasError('required')">{{ 'DC.REQUIRED_ERR' | translate }}</span>
          <span *ngIf="form.get(elem.id).hasError('email')">{{ 'DC.EMAIL_ERR' | translate }}</span>
        </p>
      </div>

      <!-- old stuff
      <div class="vvc-input"
           [ngClass]="{'error' : form.get(elem.id).errors && form.get(elem.id).touched}"
           *ngIf="elem.type === 'text' || elem.type === 'email'">
        <label>{{ elem.name | translate }}<span *ngIf="elem.required" class="required"> *</span></label>
        <input type="{{elem.type}}"
               *ngIf="!readMode"
               [formControlName]="elem.id"
               placeholder="{{ elem.placeholder | translate }}">
        <div *ngIf="readMode">
          {{ dc.dataValue[elem.id] || '-' }}
        </div>
        <p *ngIf="form.get(elem.id).touched && !readMode">
          <span *ngIf="form.get(elem.id).hasError('required')">{{ 'DC.REQUIRED_ERR' | translate }}</span>
          <span *ngIf="form.get(elem.id).hasError('email')">{{ 'DC.EMAIL_ERR' | translate }}</span>
        </p>
      </div>

      <div *ngIf="elem.type === 'rating-bar'">
        <div>{{ elem.name | translate }}</div>
        <div class="vvc-bar-rating">
          <input type="radio" id="star5" [formControlName]="elem.id" value="5" /><label for="star5"></label>
          <input type="radio" id="star4" [formControlName]="elem.id" value="4" /><label for="star4"></label>
          <input type="radio" id="star3" [formControlName]="elem.id" value="3" /><label for="star3"></label>
          <input type="radio" id="star2" [formControlName]="elem.id" value="2" /><label for="star2"></label>
          <input type="radio" id="star1" [formControlName]="elem.id" value="1" /><label for="star1"></label>
        </div>
      </div>
      -->
    </div>
    <div *ngIf="!readMode">
      <button class="btn-primary"
              [disabled]="form.invalid">{{ dc.saveButton | translate }}</button>
    </div>
  </form>
</div>
