<div class="tpl-container tpl-generic">
  <div *ngFor="let elem of message.elements" class="tpl-element">
    <div *ngIf="elem.image_url" class="tpl-image-cover" [style.background-image]="'url(' + elem.image_url + ')'"></div>
    <div class="tpl-info">
      <div class="tpl-title">{{ elem.title }}</div>
      <div class="tpl-subtitle">{{ elem.subtitle }}</div>
    </div>
    <div class="tpl-buttons">
      <div class="tpl-button" *ngFor="let btn of elem.buttons">
        <button (click)="buttonClicked(btn)">{{ btn.title }}</button>
      </div>
    </div>
  </div>
</div>
