<div *ngIf="appState$ | async as appState" [ngClass]="{ 'connected-with-agent': appState.connectedWithAgent }">
  <div id="vvc-fullscreen-container"
       *ngIf="!appState.isMinimized"
      [ngClass]="{ 'mobile': appState.isMobile, 'fullscreen': appState.isFullScreen, 'hide-chat': !appState.showChatOnFullScreen }">
    <div id="vvc-loading-panel" *ngIf="appState.isLoading">
      <vvc-loading-panel></vvc-loading-panel>
    </div>
    <div id="vvc-close-panel" *ngIf="appState.showCloseModal && !appState.isClosed">
      <vvc-close-panel (cancel)="dismissCloseModal()"
                       (confirm)="closeContact()"></vvc-close-panel>
    </div>
    <vvc-full-screen-video id="vvc-fullscreen-media"
                           [context]="appState"
                           *ngIf="appState.isFullScreen"
                           (displayChat)="addChatToFullScreen($event)"
                           (videoToggle)="videoToggle($event)"
                           (muteToggle)="muteToggle($event)"
                           (hangUp)="hangUpCall()"
                           (normalScreen)="exitFromFullScreen()"></vvc-full-screen-video>
    <div id="vvc-normal-container">
      <vvc-top-bar [context]="appState"
                   (onMinimize)="minimizeWidget(true)"
                   (onMaximize)="setFullScreen()"
                   (onClose)="showCloseModal()"
                   (onSurvey)="showSurvey()"
                   (onRemove)="closeApp()"
                   (onHideChat)="hideChat()"
                   (onVideoUpgrade)="askForVideoUpgrade()"
                   (onVoiceUpgrade)="askForVoiceUpgrade()"></vvc-top-bar>

      <vvc-data-collection id="vvc-data-collection"
                           [context]="appState"
                           *ngIf="appState.showDataCollectionPanel"
                           (submit)="submitDataCollection($event)"></vvc-data-collection>
      <vvc-survey id="vvc-survey"
                     [context]="appState"
                     *ngIf="appState.showSurveyPanel"
                     (submit)="submitSurvey($event)"></vvc-survey>

      <vvc-queue id="vvc-queue"
                 *ngIf="appState.isInQueue"
                 [context]="appState"></vvc-queue>


      <vvc-media id="vvc-media"
                 *ngIf="appState.isMediaVisible && !appState.isFullScreen"
                 [ngClass]="{'minimized': appState.media_is_minimized}"
                 [context]="appState"
                 (onAccept)="acceptOffer()"
                 (onReject)="rejectOffer()"
                 (displayChat)="minimizeMedia()"
                 (videoToggle)="videoToggle($event)"
                 (muteToggle)="muteToggle($event)"
                 (hangUp)="hangUpCall()"></vvc-media>

      <vvc-chat id="vvc-chat" [context]="appState" *ngIf="appState.isChatVisible">

        <div class="vvc-emoji-panel">
          <vvc-emoji-panel class="vvc-emoji-inner"
                           (toggleEmojiPanel)="toggleEmojiPanel()"
                           (addEmoji)="appendText($event)"></vvc-emoji-panel>
        </div>

        <div class="vvc-upload-panel">
          <vvc-upload-panel class="vvc-upload-inner"
                            [context]="appState"
                            (close)="closeUploadPanel()"
                            (upload)="doUpload($event)"></vvc-upload-panel>
        </div>

        <div class="vvc-messages">
          <div *ngFor="let m of appState.messages">
            <vvc-system-message [message]="m" *ngIf="m.type === 'system'"></vvc-system-message>
            <vvc-chat-message [message]="m" *ngIf="m.type === 'chat'"
                              (showDoc)="openAttachment($event)"></vvc-chat-message>
            <vvc-quick-replies [message]="m" *ngIf="m.type === 'quick-replies'"
                               (action)="processQuickReply($event)"></vvc-quick-replies>
            <vvc-template-generic [message]="m" *ngIf="m.type === 'template'"
                                  (action)="processAction($event)"></vvc-template-generic>
          </div>
        </div>

        <div class="vvc-chat-box-area" *ngIf="appState.isSendAreaVisible && !appState.isClosed">
          <vvc-chat-area #chat
                         [readonly]="appState.isSendAreaDisabled"
                         [context]="appState"
                         (onSendText)="sendText($event, appState.showEmojiPanel)"
                         (toggleEmojiPanel)="toggleEmojiPanel()"
                         (showUploadPanel)="showUploadPanel()"></vvc-chat-area>
        </div>

        <div class="vvc-is-writing" *ngIf="appState.isWriting">
          <vvc-chat-is-writing [context]="appState"></vvc-chat-is-writing>
        </div>

      </vvc-chat>
    </div>
  </div>

  <div id="vvc-minimized-layout" *ngIf="appState.isMinimized">
    <vvc-minimized [context]="appState"
                   (expand)="expandWidget()"></vvc-minimized>
  </div>
</div>