<div *ngFor="let m of messages" [ngSwitch]="m.type">
  <div *ngSwitchCase="'incoming-request'">
    Incoming Request ({{m.media}} - {{m.oPos}} - {{m.state}})
    <p>{{m.text}}</p>
    <div *ngIf="m.state === 'open'">

      <div *ngIf="!m.dataCollection">
        <button (click)="acceptIncomingRequest()">Accept</button> - <button (click)="denyIncomingRequest()">Deny</button>
      </div>

      <div *ngIf="m.dataCollection">
        <button (click)="compileDataCollection(m.dataCollection)">Compile Data Collection</button>
      </div>
    </div>
  </div>
  <div *ngSwitchCase="'dc'">
    <div *ngIf="!m.inline">
      Compila la data collection <button>compila</button>
    </div>
  </div>
<!--
  <div *ngSwitchCase="'chat'">
    {{m.text}}
    <p *ngIf="m.meta">
      {{m.meta | json}}
      <img *ngIf="m.meta.originalUrl" [src]="m.meta.originalUrl">
    </p>
  </div>
-->
  <vvc-chat-message *ngSwitchCase="'chat'" [message]="m"></vvc-chat-message>


</div>

