<div id="vvc-top-bar">
  <div id="vvc-top-avatar" *ngIf="context.topbar_avatar"><img [src]="context.topbar_avatar"></div>
  <div id="vvc-top-header">
    <div id="vvc-top-title">{{ context.topbar_title | translate }}</div>
    <div id="vvc-top-subtitle">{{ context.topbar_subtitle | translate }}</div>
  </div>
  <div class="vvc-top-controls" *ngIf="context.canRemoveApp">
    <span (click)="removeApp()">
      <i class="icon icon-vvc-close"></i>
    </span>
  </div>
  <div class="vvc-top-controls" *ngIf="!hasMenu() && !context.canRemoveApp">
    <span (click)="onMinimize.emit()">
      <i class="icon icon-vvc-reduce"></i>
    </span>
    <span (click)="onClose.emit()">
      <i class="icon icon-vvc-close"></i>
    </span>
  </div>
  <div class="vvc-top-controls" *ngIf="hasMenu() && !context.canRemoveApp">
    <span (click)="showMenu()">
      <i class="icon icon-vvc-menu"></i>
    </span>
  </div>
  <div id="vvc-top-bar-menu" *ngIf="isMenuVisible" (click)="closeMenu()">
    <div id="vvc-menu-inner" class="animated" [ngClass]="{ 'fadeIn': isMenuVisible }">
      <div *ngIf="context.canMinimize" (click)="onMinimize.emit()">
        <span><i class="icon icon-vvc-reduce"></i> {{ 'STRINGS.QUEUE.TOPBAR.MINIMIZE_BUTTON' | translate }}</span>
      </div>
      <div *ngIf="context.canMaximize && context.voice_rx" (click)="onMaximize.emit()">
        <span><i class="icon icon-vvc-maximize"></i> {{ 'STRINGS.QUEUE.TOPBAR.MAXIMIZE_BUTTON' | translate }}</span>
      </div>
      <div *ngIf="context.media_is_minimized" (click)="onHideChat.emit()">
        <span><i class="icon icon-vvc-chat"></i> {{ 'STRINGS.QUEUE.TOPBAR.HIDE_CHAT_BUTTON' | translate }}</span>
      </div>
      <div *ngIf="context.canStartAudio &&  !context.isOffering && !context.voice_rx && !context.voice_tx" (click)="onVoiceUpgrade.emit()">
        <span><i class="icon icon-vvc-audio"></i> {{ 'STRINGS.QUEUE.TOPBAR.VOICE_BUTTON' | translate }}</span>
      </div>
      <div *ngIf="context.canStartVideo &&  !context.isOffering && !context.video_tx" (click)="onVideoUpgrade.emit()">
        <span><i class="icon icon-vvc-video"></i> {{ 'STRINGS.QUEUE.TOPBAR.VIDEO_BUTTON' | translate }}</span>
      </div>
      <div (click)="onClose.emit()">
        <span><i class="icon icon-vvc-close"></i> {{ 'STRINGS.QUEUE.TOPBAR.CLOSE_BUTTON' | translate }}</span>
      </div>
    </div>
  </div>
</div>