<div id="vvc-top-bar">
  <div id="vvc-top-avatar" *ngIf="context.avatarSrc"><img [src]="context.avatarSrc"></div>
  <div id="vvc-top-header">
    <div id="vvc-top-title">{{ context.title }}</div>
    <div id="vvc-top-subtitle">{{ context.subtitle }}</div>
  </div>
  <div class="vvc-top-controls" *ngIf="!hasMenu()">
    <span>
      <i class="icon icon-vvc-reduce"></i>
    </span>
    <span (click)="onClose.emit()">
      <i class="icon icon-vvc-close"></i>
    </span>
  </div>
  <div class="vvc-top-controls" *ngIf="hasMenu()">
    <span (click)="showMenu()">
      <i class="icon icon-vvc-menu"></i>
    </span>
  </div>
  <div id="vvc-top-bar-menu" *ngIf="isMenuVisible" (click)="closeMenu()">
    <div id="vvc-menu-inner" class="animated" [ngClass]="{ 'fadeIn': isMenuVisible }">
      <div *ngIf="context.canMinimize">
        <span><i class="icon icon-vvc-reduce"></i> Minimize</span>
      </div>
      <div *ngIf="context.canMaximize">
        <span><i class="icon icon-vvc-maximize"></i> Maximize</span>
      </div>
      <div *ngIf="context.canStartAudio">
        <span><i class="icon icon-vvc-audio"></i> Audio</span>
      </div>
      <div *ngIf="context.canStartVideo">
        <span><i class="icon icon-vvc-video"></i> Video</span>
      </div>
      <div (click)="onClose.emit()">
        <span><i class="icon icon-vvc-close"></i> Close</span>
      </div>
    </div>
  </div>
</div>