<div id="vvc-top-bar">
  <div id="vvc-top-avatar" *ngIf="context.topBarAvatar"><img [src]="context.topBarAvatar"></div>
  <div id="vvc-top-header">
    <div id="vvc-top-title">{{ context.topBarTitle | translate }}</div>
    <div id="vvc-top-subtitle">{{ context.topBarSubtitle | translate }}</div>
  </div>
  <div class="vvc-top-controls" *ngIf="context.canRemoveApp && !context.incomingOffer">
    <span (click)="removeApp()">
      <i class="icon icon-vvc-close"></i>
    </span>
  </div>
  <div class="vvc-top-controls" *ngIf="!hasMenu() && !context.canRemoveApp && !context.incomingOffer">
    <span (click)="onMinimize.emit()">
      <i class="icon icon-vvc-reduce"></i>
    </span>
    <span (click)="closeContact()">
      <i class="icon icon-vvc-close"></i>
    </span>
  </div>
  <div class="vvc-top-controls" *ngIf="hasMenu() && !context.canRemoveApp && !context.incomingOffer">
    <span (click)="showMenu()">
      <i class="icon icon-vvc-menu"></i>
    </span>
  </div>
  <div id="vvc-top-bar-menu" *ngIf="isMenuVisible" (click)="closeMenu()">
    <div id="vvc-menu-inner" class="animated" [ngClass]="{ 'fadeIn': isMenuVisible }">
      <div *ngIf="context.canMinimize" (click)="onMinimize.emit()">
        <span><i class="icon icon-vvc-reduce"></i> {{ 'STRINGS.QUEUE.TOPBAR.MINIMIZE_BUTTON' | translate }}</span>
      </div>
      <div *ngIf="context.canMaximize && !context.isFullScreen" (click)="onMaximize.emit()">
        <span><i class="icon icon-vvc-maximize"></i> {{ 'STRINGS.QUEUE.TOPBAR.MAXIMIZE_BUTTON' | translate }}</span>
      </div>
      <div *ngIf="context.isMediaMinimized && context.isMediaConnected" (click)="onHideChat.emit()">
        <span><i class="icon icon-vvc-chat"></i> {{ 'STRINGS.QUEUE.TOPBAR.HIDE_CHAT_BUTTON' | translate }}</span>
      </div>
      <div *ngIf="context.canStartAudio" (click)="onVoiceUpgrade.emit()">
        <span><i class="icon icon-vvc-audio"></i> {{ 'STRINGS.QUEUE.TOPBAR.VOICE_BUTTON' | translate }}</span>
      </div>
      <div *ngIf="context.canStartVideo && !context.isMediaConnected" (click)="onVideoUpgrade.emit()">
        <span><i class="icon icon-vvc-video"></i> {{ 'STRINGS.QUEUE.TOPBAR.VIDEO_BUTTON' | translate }}</span>
      </div>
      <div (click)="closeContact()">
        <span><i class="icon icon-vvc-close"></i> {{ 'STRINGS.QUEUE.TOPBAR.CLOSE_BUTTON' | translate }}</span>
      </div>
    </div>
  </div>
</div>