<div class="chat-box clearfix">

  <div class="click-catch"
       *ngIf="uploadPanel || emojiPanel"
       (click)="closeAllPanels()"
       style="position:fixed;top:0;right:0;bottom:0;left:0;background-color: transparent"></div>


  <div class="chat-tools-panels"
        *ngIf="uploadPanel || emojiPanel"
       [ngClass]="{'upload-selected':uploadPanel, 'emoji-selected':emojiPanel}">
    <div class="emoji-panel panel">
      <vvc-emoji-selector (emoji)="emoji.emit($event);chatInput.value=chatInput.value + $event +' '"></vvc-emoji-selector>
    </div>
    <div class="upload-panel panel">
      <vvc-file-uploader (upload)="upload.emit($event);toggleUploadTool();"></vvc-file-uploader>
    </div>
  </div>

  <textarea #chatInput
            class="fs1 fw1"
            placeholder="type here..."
            (keyup.enter)="sendMessage(chatInput);"
            (keyup)="calcRows(chatInput)"
            [rows]="textAreaRows"></textarea>

  <div class="chat-tools right">
    <div class="tool"
         [ngClass]="{'selected':emojiPanel}"
         (click)="toggleEmojiTool()">
      <i class="vvc-smile fs4"></i>
    </div>
    <div class="tool"
         [ngClass]="{'selected':uploadPanel}"
         (click)="toggleUploadTool()">
      <i class="vvc-clipboard fs4"></i>
    </div>
  </div>


  <!--
  <button (click)="sendChatMessage(chatBox.value)">send</button>
          <hr>
          upload form
          <div class="uploader" *ngIf="uploadFile">
            <div class="uploadedFile">
              <span class="uploadName">{{uploadFile.name}}</span> <i (click)="removeUpload()" style="position: relative; top: 2px" class="right fa fa-trash-o">remove</i>
            </div>
          </div>
          <form id="formUploader" enctype="multipart/form-data" onsubmit="return false;">
            <textarea #fileBox placeholder="type file description here..."></textarea>
            <input type="file" id="theFile" name="theFile" class="inputfile" (change)="onUploading($event)">
            <button [disabled]="!uploadFile?.name" (click)="sendAttachment(fileBox.value)">send</button>
          </form>
          -->
</div>
