#vvc-chat-area{
  //height: 97px;
  padding: 0 10px;

  .click-catch{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color: transparent;
  }


  .chat-box {
    padding: 10px;
    border-top: 2px solid $primaryColor;
    position: relative;
    textarea{
      border: 0;
      font-size: 0.875rem;
      font-weight: 300;
      resize: none;
      outline: none;
      color: $darkColor;
      width: calc(100% - 50px);
    }

    .chat-tools-panels{
      position: absolute;
      top: -129px;
      right: -5px;
      left: -5px;
      height: 128px;
      border-radius: 10px;
      background-color: lighten($primaryColor, 30%);
      border: 1px solid $primaryColor;
      box-shadow: 0 0 4px rgba(0,0,0,0.5);

      &.upload-selected {
        height: 186px;
        top: -187px;

        .emoji-panel{
          display: none;
        }
        .upload-panel{
          display: block;
        }
      }

      &.emoji-selected{
        .upload-panel{
          display: none;
        }
        .emoji-selected{
          display: block;
        }
      }

      .panel{
        position: relative;
        padding: 12px 15px;
      }

      .upload-panel{
        .upload-descr {
          i {
            font-size: 50px;
            color: $primaryColor;
          }
          input {
            vertical-align: top;
            font-size: 0.875rem;
            font-weight: 300;
            border: 1px solid $primaryColor;
            border-radius: 10px;
            padding: 6px 10px;
            margin-top: 8px;
            width: 250px;

            &::-webkit-input-placeholder {
              font-style: italic;
            }
          }
        }
        .file-containter{
          display: inline-block;
          border: 1px solid $primaryColor;
          background-color: $lightColor;
          border-radius: 10px;
          padding: 6px 10px;
          margin-top: 8px;
          width: 222px;

          i{
            color: $warningColor;
          }
          .file-name{
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 0.875rem;
            font-weight: 300;
            max-width: 200px;
            color: $darkColor;

          }
        }
        .file-size{
          font-size: 0.625rem;
          text-align: center;
          color: $darkColor;
        }
        .submit-area{
          text-align: center;
          padding-top: 8px;
        }
        .inputfile {
          width: 0.1px;
          height: 0.1px;
          opacity: 0;
          overflow: hidden;
          position: absolute;
          z-index: -1;
        }
      }

      .emoji-panel{
        .emoji-content {
          width: auto;
          height: 102px;
          overflow: scroll;
          position: relative;
          padding: 0 5px;
        }
        .emoji-content .emoji{
          padding: 0 2px;
          cursor: pointer;
        }
      }
    }

    .chat-tools {
      display: inline-block;
      vertical-align: top;
      position: relative;
      .tool{
        display: inline-block;
        font-size: 1.25rem;
        color: $darkColor;
        cursor: pointer;

        &.selected{
          &:after{
            content: '';
            position: absolute;
            border-style: solid;
            border-color: $primaryColor transparent;
            display: block;
            width: 0;
            z-index: 1;
            border-width: 13px 10px 0 10px;
            top: -10px;
          }
        }
      }
    }
  }
}
