@import "fonts_variables";

@font-face {
  font-family: 'vvc-widget-ico';
  src:  url('#{$icomoon-font-path}/vvc-widget-ico.eot');
  src:  url('#{$icomoon-font-path}/vvc-widget-ico.eot') format('embedded-opentype'),
    url('#{$icomoon-font-path}/vvc-widget-ico.ttf') format('truetype'),
    url('#{$icomoon-font-path}/vvc-widget-ico.woff') format('woff'),
    url('#{$icomoon-font-path}/vvc-widget-ico.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'vvc-widget-ico' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vvc-file {
  &:before {
    content: $vvc-file;
  }
}
.vvc-see {
  &:before {
    content: $vvc-see;
  }
}
.vvc-download {
  &:before {
    content: $vvc-download;
  }
}
.vvc-not-send {
  &:before {
    content: $vvc-not-send;
  }
}
.vvc-writing {
  &:before {
    content: $vvc-writing;
  }
}
.vvc-star-empty {
  &:before {
    content: $vvc-star-empty;
  }
}
.vvc-star {
  &:before {
    content: $vvc-star;
  }
}
.vvc-calendar {
  &:before {
    content: $vvc-calendar;
  }
}
.vvc-arrow-left {
  &:before {
    content: $vvc-arrow-left;
  }
}
.vvc-chat {
  &:before {
    content: $vvc-chat;
  }
}
.vvc-check {
  &:before {
    content: $vvc-check;
  }
}
.vvc-clipboard {
  &:before {
    content: $vvc-clipboard;
  }
}
.vvc-clock {
  &:before {
    content: $vvc-clock;
  }
}
.vvc-close {
  &:before {
    content: $vvc-close;
  }
}
.vvc-doc {
  &:before {
    content: $vvc-doc;
  }
}
.vvc-down {
  &:before {
    content: $vvc-down;
  }
}
.vvc-expand {
  &:before {
    content: $vvc-expand;
  }
}
.vvc-hangup {
  &:before {
    content: $vvc-hangup;
  }
}
.vvc-headphones {
  &:before {
    content: $vvc-headphones;
  }
}
.vvc-lock {
  &:before {
    content: $vvc-lock;
  }
}
.vvc-minimize {
  &:before {
    content: $vvc-minimize;
  }
}
.vvc-mute {
  &:before {
    content: $vvc-mute;
  }
}
.vvc-pencil {
  &:before {
    content: $vvc-pencil;
  }
}
.vvc-phone {
  &:before {
    content: $vvc-phone;
  }
}
.vvc-pic {
  &:before {
    content: $vvc-pic;
  }
}
.vvc-reduce {
  &:before {
    content: $vvc-reduce;
  }
}
.vvc-refresh {
  &:before {
    content: $vvc-refresh;
  }
}
.vvc-remove {
  &:before {
    content: $vvc-remove;
  }
}
.vvc-sign-out {
  &:before {
    content: $vvc-sign-out;
  }
}
.vvc-smile {
  &:before {
    content: $vvc-smile;
  }
}
.vvc-unmute {
  &:before {
    content: $vvc-unmute;
  }
}
.vvc-up {
  &:before {
    content: $vvc-up;
  }
}
.vvc-video {
  &:before {
    content: $vvc-video;
  }
}
.vvc-video-off {
  &:before {
    content: $vvc-video-off;
  }
}

