* { margin: 0; padding: 0; box-sizing: border-box }
@import "variables";

/** CUSTOMIZATION START **/
@import "preset";
/** CUSTOMIZATION END **/


@import url($appFontUrl);
body, input, textarea{ font-family: $appFontFamily; }

/**
  LAYOUT
 */
#vvc-normal-container{

  width: $appWidth;
  height: $appHeight;
  min-height: $appHeight;

  background: $appChatBackgroundColor;
  display: flex;
  flex-direction: column;
  #vvc-top-bar,
  #vvc-media {
    flex: none;
  }
  #vvc-chat{
    flex: auto;
    display: flex;
    flex-direction: column;
    #vvc-messages{
      flex: auto;
    }
    #vvc-is-writing{
      flex: none;
      display: flex;
      padding: 0 10px;
      .iw-avatar{
        flex: none;
      }
      .iw-message{
        flex: auto;
        margin: auto 8px;
      }

    }
    #vvc-chat-box-area{
      flex: none;
      #vvc-box-inner{
        display: flex;
        margin: 15px 10px;
        .upload-handler{
          flex: none;
        }
        .text-box{
          flex: auto;
          margin: auto;
          input {
            width: 100%;
            border: 0;
          }
        }
        .emoji-handler{
          flex: none;
        }
        .send-button{
          flex: none;
        }
      }
    }
  }
}

/**
  TOPBAR
 */
#vvc-top-bar{
  background: $topBarBackground;
  color: $topBarColor;
  padding: $topBarPadding;
  display: flex;

  #vvc-top-avatar {
    flex: none;
    img {
      width: 50px;
      height: 50px;
    }
  }
  #vvc-top-header {
    flex: auto;
    #vvc-top-title{
      font-size: $topBarTitleSize;
      color: $topBarTitleColor;
      font-weight: 300;

    }
    #vvc-top-subtitle{
      font-size: $topBarSubTitleSize;
      color: $topBarSubTitleColor;
      font-weight: 300;
    }
  }
  #vvc-top-controls {
    flex: none;
    justify-content: center;
    display: flex;
    text-align: center;
    span {
      margin: auto 2px;
      svg {
        display: inline-block;
      }
    }
  }
}
/**
  MESSAGES
 */
#vvc-messages{
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  .system-message{
    text-align: center;
    padding: 10px 50px;
    color: $chatSystemMessageColor;
    font-size: 15px;
    font-weight: 300;
  }
  .chat-message{
    padding: $chatMessagePadding;
    flex: none;
    display: flex;
    &.agent{
      .bubble {
        margin-left: 8px;
        margin-right: 12%;
        border: 1px solid $agentMessageBorderColor;
        background: $agentMessageBackground;
        color: $agentMessageColor;
        border-radius: $chatMessageBorderRadius;
        position: relative;
        &.arrow {
          &:after {
            content: "";
            position: absolute;
            width: 0;
            left:-6px;
            top: 6px;
            border-right: 6px solid $agentMessageBackground;
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
          }

          &:before {
            content: "";
            position: absolute;
            top: 4px;
            left: -8px;
            width: 0;
            border-right: 8px solid $agentMessageBorderColor;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
          }
        }
      }
      .time{
        padding-left: 8px;
      }
    }
    &.visitor{
      .bubble {
        margin-right: 8px;
        margin-left: 12%;
        border: 1px solid $visitorMessageBorderColor;
        background: $visitorMessageBackground;
        color: $visitorMessageColor;
        border-radius: $chatMessageBorderRadius;

        position: relative;
        &.arrow {
          &:after {
            content: "";
            position: absolute;
            width: 0;
            right:-6px;
            top: 6px;
            border-left: 6px solid $visitorMessageBackground;
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
          }

          &:before {
            content: "";
            position: absolute;
            top: 4px;
            right: -8px;
            width: 0;
            border-left: 8px solid $visitorMessageBorderColor;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
          }
        }
      }
      .time{
        text-align: right;
        padding-right: 8px;
      }
    }
    .message-avatar{
      flex: none;
      img {
        width: $chatMessageAvatarWidth;
        height: $chatMessageAvatarHeight;
        border-radius: $chatMessageAvatarBorderRadius;
        box-shadow: $chatMessageAvatarShadow;
      }
      padding: $chatMessageAvatarPadding;
    }
    .message{
      .bubble {
        padding: $chatMessageBubblePadding;
        font-size: $chatMessageFontSize;
        font-weight: 300;

      }
      .time{
        font-size: $chatMessageTimeSize;
        font-weight: 300;
        color: $chatMessageTimeColor;
      }

    }
    .message-spacer{
      flex: auto;
    }
  }
  .vvc-quick-replies{
    display: flex;
    flex: none;
    &.vertical{
      flex-direction: column;
      .reply-message{
        text-align: center;
        padding: 10px 50px;
        color: $color4;
        font-size: 15px;
        font-weight: 300;
      }
      .reply{
        padding: 4px 30px;

        button {
          width: 100%;
          border: $quickReplyButtonBorders;
          border-radius: $quickReplyButtonBorderRadius;
          background: $quickReplyButtonBackground;
          color: $quickReplyButtonColor;
          font-size: $quickReplyButtonFontSize;
          padding: $quickReplyButtonPadding;
          outline: none;
          cursor: pointer;
          &:hover{
            background: $quickReplyButtonColor;
            color: $quickReplyButtonBackground;

          }
        }

      }
    }
  }
  .vvc-template-generic{
    margin: 10px 15px;
    .vvc-template-inner{
      border: $templateGenericBorder;
      box-shadow: $templateGenericShadow;
      padding: $templateGenericPadding;
      .title{
        color: $templateGenericTitleColor;
        font-size: $templateGenericTitleSize;
        font-weight: bold;
      }
      .subtitle{
        color: gray;
        font-size: $templateGenericSubtitleSize;
      }
      .content{
        padding: $templateGenericContentPadding;
        font-size: $templateGenericContentSize;
      }
    }
    .vvc-template-action{
      padding-top: 15px;
      button {
        width: 100%;
        border: $templateGenericButtonBorders;
        border-radius: $templateGenericButtonBorderRadius;
        background: $templateGenericButtonBackground;
        color: $templateGenericButtonColor;
        font-size: $templateGenericButtonFontSize;
        padding: $templateGenericButtonPadding;
        outline: none;
        cursor: pointer;
        &:hover{
          background: $templateGenericButtonHover;
          color: $templateGenericButtonBackgroundHover;

        }
      }
    }
  }
  .vvc-template-list{
    margin: 10px 15px;
    .vvc-template-inner{
      border: $listTemplateBorders;
      box-shadow: $listTemplateShadow;
      .template-item {
        border-bottom: $listTemplateBorders;
        button {
          cursor: pointer;
          width: 100%;
          font-size: $listTemplateButtonSize;
          padding: $listTemplateButtonPadding;
          text-align: center;
          background-color: white;
          border: $listTemplateButtonBorder;
          outline: none;

          &:hover{
            background-color: $listTemplateButtonBackgroundHover;
          }
        }
      }
    }
    .vvc-template-action{
      padding-top: 15px;
      button {
        width: 100%;
        border: $listTemplateActionBorders;
        border-radius: $listTemplateActionButtonBorderRadius;
        background: $templateListActionButtonBackground;
        color: $templateListActionButtonColor;
        font-size: $listTemplateActionButtonFontSize;
        padding: $listTemplateActionButtonPadding;
        outline: none;
        cursor: pointer;
        &:hover{
          background: $templateListActionButtonBackgroundHover;
          color: $templateListActionButtonHover;

        }
      }
    }

  }
  .vvc-template-carousel{
    .vvc-carousel-inner{
      display: flex;
      overflow-x: scroll;
      margin-right: 20px;
      .vvc-template{
        flex: none;
        max-width: 280px;
      }
    }
  }
}
#vvc-is-writing{
  .iw-avatar{
    padding: 2px;
    img {
      width: $isWritingAvatarWidth;
      height: $isWritingAvatarHeight;
      border-radius: $isWritingAvatarBorderRadius;
      box-shadow: $isWritingAvatarShadow;
      border: $isWritingAvatarBorder;
    }
  }
  .iw-message{
    margin: auto 8px;
    font-size: $isWritingFontSize;
    font-weight: 300;
    color: $isWritingColor;
  }
}
/**
  CHAT BOX
 */
#vvc-chat-box-area {
  background: $chatBoxBackground;
  #vvc-box-inner {
    background: $chatBoxFieldBackground;
    border-radius: 35px;
    padding: 4px;
    .upload-handler{
      margin: auto 8px;
      cursor: pointer;
    }
    .text-box{
      input {
        font-size: $chatBoxFontSize;
        color: $chatBoxFontColor;
        outline: none;
        font-weight: 300;
      }
    }
    .emoji-handler{
      margin: auto 5px;
      cursor: pointer
    }
    .send-button{
      cursor: pointer;
      background: $chatBoxSendButtonBackground;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      .send-icon {
        svg{
          display: block;
          position: relative;
          top: 8px;
          left: 7px;
        }
      }
    }
  }
}
/**
  UPLOAD PANEL
 */
#vvc-upload-panel{
  display: flex;
  flex: auto;
  .vvc-upload-inner{
    margin: $uploadPanelMargin;
    border: $uploadPanelBorder;
    border-radius: $uploadPanelBorderRadius;
    width: 100%;
    padding: $uploadPanelPadding;
    .vvc-upload-area{
      height: $uploadAreaHeight;
      margin: $uploadAreaMargin;
      border: $uploadAreaBorder;
      background: $uploadAreaBackground;
      svg {
        margin: auto;
        display: block;
        position: relative;
        top: 40px;
        width: 100px;
        height: 100px;
        path {
          fill: $uploadAreaIconFill;
        }
      }
    }
    .vvc-upload-description{
      margin: 8px;
      textarea {
        width: 100%;
        resize: none;
        height: $uploadDescriptionHeight;
        padding: $uploadDescriptionPadding;
      }
    }
    .vvc-upload-button-wrap{
      margin: 8px;
      button.upload {
        width: 100%;
        border: $uploadButtonBorders;
        border-radius: $uploadButtonBorderRadius;
        background: $uploadButtonBackground;
        color: $uploadButtonColor;
        font-size: $uploadButtonFontSize;
        padding: $uploadButtonPadding;
        outline: none;
        cursor: pointer;
        &:hover{
          background: $uploadButtonHover;
          color: $uploadButtonBackgroundHover;
        }
      }
      button.close{
        width: 100%;
        border: 0;
        background: white;
        margin: 8px 0;
        font-size: 10px;
        padding: 8px;
        outline: none;
        cursor: pointer;
        text-decoration: underline;
        color: $uploadClosePanelButton;
      }
    }
  }
}
/**
  EMOJI PANEL
 */
#vvc-emoji-panel{
  display: flex;
  flex: auto;
  .vvc-emoji-inner {
    margin: $emojiPanelMargin;
    padding: $emojiPanelPadding;
    border: $emojiPanelBorder;
    border-radius: $emojiPanelBorderRadius;
    width: 100%;
    display: flex;
    flex-direction: column;
    .vvc-emoji-container {
      flex: auto;
      overflow-y: scroll;
      .emoji {
        font-size: $emojiSize;
        padding: $emojiPadding;
        display: inline-block;
        cursor: pointer;
      }
    }
    .emoji-close-wrapper{
      flex: none;
      button.close{
        width: 100%;
        border: 0;
        background: $emojiClosePanelButtonBackground;
        margin: $emojiClosePanelMargin;
        font-size: $emojiClosePanelButtonSize;
        outline: none;
        cursor: pointer;
        text-decoration: underline;
        color: $emojiClosePanelButtonColor;
      }
    }
  }
}