/** FONTS **/
@import url('https://d3btqb6knwd3a4.cloudfront.net/lib/font-google/css/open-sans.css');
$fontFamily: 'Open Sans',sans-serif;
$baseFontSize: 16px;

/** OPTS **/
$button-radius: 30px;
$mycolor: indigo;

@import "iframe-container";
@import "iframe-inner-container";
@import "keyframes";
@import "mixins";
@import "forms";
@import "buttons";
@import "queue";
@import "initialdata";
@import "survey";
@import "topbar";
@import "media";
@import "messages";
@import "chatbox";
@import "minimized.scss";

html,
body,
textarea,
input,
button{
  font-size:$baseFontSize;
  font-family: $fontFamily;
}

.resize {
  position: fixed;
  &.hide {
    display: none;
  }
  &.ew-resize {
    cursor: ew-resize;
  }
  &.ns-resize {
    cursor: ns-resize;
  }
  &#n-resize, &#s-resize {
    width: 100%;
    height: 4px;
  }
  &#w-resize, &#e-resize {
    width: 4px;
    height: 100%;
  }
  &#n-resize {
    top: 0;
  }
  &#w-resize {
    left: 0;
  }
  &#e-resize {
    right: 0;
  }
  &#s-resize {
    bottom: 0;
  }
}

#vvc-container{
  display: flex;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;

  background: rgba(255,255,255,0.4);
  //border-radius: 10px 10px 0 0;

  &.shadow {
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
    top: 4px; right: 4px; bottom: 4px; left: 4px;
  }

  &.fullsize{
    #vvc-widget-wrap{
      border-radius: 0;
      height: 100%;
    }
    &.nochat{
      #vvc-widget-wrap{
        display: none;
      }
    }
  }

}
#vvc-full-enabled{
  background-color: $lightColor;
  display: flex;
  flex: 1 1 auto;
  min-width: 0; /* 1 */
  min-height: 0; /* 1 */
  flex-direction: column;
  position: relative;
  .big-video{
    background-color: black;
    width: 100%;
    height: 100%;

  }
  .small-video{
    position: absolute;
    top: 20px;
    left: 20px;
    height: 10%
  }
  .chat-toggle{
    position: absolute;
    bottom: 0;
    right: 0;
    color: $lightColor;
    cursor: pointer;
    text-align: center;
    padding: 10px 6px;
    background-color: $primaryColor;
    border-radius: 10px 0 0 10px;
    i { font-size: 1.25rem }
    .chat-label{
      font-size: 0.875rem;
      font-weight: 300;
    }
    .chat-unread-counter {
      position: relative;
      span {
        display: inline-block;
        width: 14px;
        height: 14px;
        padding: 8px;
        position: absolute;
        top: -26px;
        left: -22px;
        border-radius: 50%;
        text-align: center;
        font-size: 0.7rem;
        color: $lightColor;
        background-color: red;

        &.big {
          font-size: 0.6rem;
        }
      }
    }
  }
  .vvc-tools {
    position: absolute;
    bottom: 50px;
    left: 0; right: 0;
    .vvc-tools-wrap {
      margin: 0 auto;
      @include vvcMediaToolbar('fullsize');
    }
  }
}
/*
#vvc-widget-wrap{
  //@include boxShadow(0,0,10px,0.5);
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: column;
  //width: 370px;
  //height: 600px;

  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  //position: relative;
  background-color: $lightColor;
}
*/

#vvc-close-modal{
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background: rgba(255,255,255,0.6);
  display: flex;
  flex-direction: column;

  .modal-content{
    width: 100%;
    align-items: center;
    flex: 1 1 auto;
    display: flex;
    min-width: 0;
    min-height: 0;

    .inner-content{
      width:100%;
    }
    .incoming-msg{
      padding: 15px;
      @include vvcIncomingMessage();
    }

  }
}
#vvc-dc-viewer{
  position: absolute;
  top: 80px;
  right:0;
  bottom:0;
  left:0;
  background-color: $lightColor;
  overflow-y: scroll;

  .back-anchor{
    position: absolute;
    color: $primaryColor;
    margin-top: 18px;
    margin-left: 10px;
    cursor: pointer;
  }
}
