//VARIABLES HERE
$showAvatar: false;
$showWelcomeMessage: true;
$showVisitorAvatar: false;
$showVisitorBalloonArrow: false;
$visitorBalloonColor: #E6E6E6;
$showAgentAvatar: true;
$showAgentBalloonArrow: true;
//$agentBalloonColor: #0351A1;