/**
  PALETTE
*/
$color1: #1B3172;
$color2: #CED5E2;
$color3: #FDFDFE;
$color4: #727273;
$color5: #FFFFFF;
/**
  APP: DIMENSIONS
 */
$appWidth: 370px;
$appHeight: 600px;
$appMinimizedWidth: 80px;
$appMinimizedHeight: 80px;
$appBottomDistance: -5px;
$appRightDistance: 40px;
$appBorders: 0;
$appShadows: 0 0 4px rgba(0,0,0,0.5);
$appBordersRadius: 0;
/**
  APP: CONDITIONS
 */
$appDraggable: false;
$appResizable: false;
$appMinimizable: false;
$appShowFileTransfer: false;
$appShowEmojiPanel: false;
/**
  MESSAGES: CONDITIONS
 */
$displayAgentAvatar: true;
$displayVisitorAvatar: false;
$displayArrowMessage: true;
$displayChatMessageTime: true;
$displayDeliveryArrows: true;
$mergeConsecutiveMessages: true;
