
  <div class="vvc-emoji-container">
    <span class="emoji" (click)="addEmoji.emit('😀')">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
    <span class="emoji">😀</span>
  </div>
  <div class="emoji-close-wrapper">
    <button class="close" (click)="toggleEmojiPanel.emit()">chiudi pannello</button>
  </div>
