<div class="flex flex-none top-box">
  <div class="clearfix" style="width:100%">
    <div class="row">
      <div class="col col-4">&nbsp;</div>
      <div class="col col-4 center pt2" >
        <img class='acct-img circle' src="assets/acct-img.png"></div>
      <div class="col col-4 right-align pr2 pt2"><i style="color: white" class="vvc-close fs4"></i></div>
    </div>
    <div class="row">
      <div class="col col-12 center pt3 fs4 fw1" style="color: white;" [innerHTML]="'QUEUE.WELCOME' | translate">

      </div>
    </div>
  </div>
</div>

<div class="flex flex-auto">
  <div class="clearfix" style="width: 100%;">
    <div class="media-type loading-bg" style="margin: 0 auto;border-radius: 50%;width: 80px; height: 80px; color: white; text-align: center; font-size: 35px;">
      <i class="vvc-chat" style="position: relative; top: 20px;"></i>
    </div>

    <div class="loading-wrapper loading-bg">
      <div class="loader"></div>
    </div>
  </div>
</div>

<div class="flex flex-none bottom-box">
  <div class="clearfix card" style="width: 100%;">
    <div class="border-box center p2 fs3" [innerHTML]="'QUEUE.INFO' | translate">

    </div>
  </div>
</div>

